/* general */
body,textarea{
    /* textarea
    usar o * é alterar o navegador inteiro, já o body é a pagina */
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

h1, h2, h3{
    color: #333;
}

p{
    color: #70747a;
}

.navbar-container{
    background-color: #232a31;
    width: 100%;
    height: 80px;
    /* 2em é uma unidade de medida relativa ao elemento pai(da fonte padrão de 16), que normalmente é o body ou outro que você defina */
    padding: 0 2em;
    position: relative;
    /* box sizing, faz com que o padding seja proporcional */
    box-sizing: border-box;
}

.logo{
    width: 50px;
    margin-top: 15px;
}

nav{
    position: relative;
}
.nav-items{
    /* position tem as opçoes absolute, top, right, bottom e left */
    position: absolute;
    right: 0;
    margin: 0;
    list-style: none;
    display: inline-block; 
    height: 80px;
    /* line height define o espaçamento entre as linhas, para deixar no meio precisa ser igual ao height */
    line-height:80px;
}

.nav-items li{
    display: inline-block;
    /* transformar as letras das palavras em minusculas, maiusculas ou a primeira maiuscula */
    text-transform: uppercase; 
    margin-left: 25px;

}

.nav-items li a{
    color: white;
    text-decoration: none;
    transition: .5s;
}

.nav-items li a:hover{
    /* a hover é o passar do mouse, seja cor, animação etc */
    color: rgb(51, 73, 218);


}
